@import url("https://fonts.googleapis.com/css?family=Montserrat:300|Open+Sans|Open+Sans+Condensed:300");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Signika:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
::placeholder {
  color: #666;
  opacity: 1;
  /* Firefox */
}

input:-webkit-autofill::first-line {
  font-family: "Roboto", sans-serif;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: #2a2a2a;
  overflow-x: hidden;
}

body#index .index {
  border-right: 0px solid #666;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 1;
  color: #fff;
  background-color: #2A2A2A;
}

body#about .about {
  border-right: 0px solid #666;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 1;
  color: #fff;
  background-color: #2A2A2A;
}

body#signup .signup {
  border-right: 0px solid #666;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 1;
  color: #fff;
  background-color: #2A2A2A;
}

a:hover {
  text-decoration: underline;
}

.error {
  display: block;
  width: 85%;
  background-color: #922E32;
  padding: 5px;
  color: #e2e2e2;
}

#motw {
  width: 640;
  height: 360;
}

@media screen and (max-width: 600px) {
  #motw {
    width: 100%;
    height: 216px;
  }
}
.main-content {
  position: relative;
  margin-left: 0;
  padding-left: 0px;
  transition: margin-left 0.4s ease;
  height: auto;
  z-index: 1001;
}

@media screen and (max-width: 600px) {
  .main-content {
    margin-left: 0;
    width: 100%;
  }
}
.main-content .motw {
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: 15px;
  right: 0;
  width: 225px;
  height: 320px;
  background-color: #444;
  padding: 5px;
  border-left: 6px solid firebrick;
  border-right: 0px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  z-index: 1006;
  visibility: visible;
}

@media screen and (max-width: 600px) {
  .main-content .motw {
    visibility: hidden;
  }
}
.main-content .motw:hover {
  cursor: pointer;
}

.main-content .motw:hover .overlay {
  width: 100%;
}

.main-content .motw:hover .banner {
  box-shadow: 0px 0px 0px #222;
}

.main-content .motw:hover .banner .overlay {
  opacity: 1;
}

.main-content .motw .stamp {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: none;
  font-family: inherit;
  color: #fff;
  margin-top: 10px;
  z-index: 1007;
}

.main-content .motw .title {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: inherit;
  color: #fff;
  text-transform: uppercase;
  padding: 0;
  margin-top: 12.5px;
  z-index: 1010;
}

.main-content .motw .subtitle {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  font-size: 12px;
  font-weight: none;
  font-family: inherit;
  color: #fff;
  margin-top: 5px;
  z-index: 1007;
}

.main-content .motw .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #9b1f1f;
  transition: width 1s ease;
  z-index: 1006;
}

.main-content .motw .banner {
  position: relative;
  display: inline-block;
  max-width: 185px;
  min-width: 145px;
  margin: 10px 0px 10px 0px;
  box-shadow: 3px 4px 0px #721616;
  transition: box-shadow 0.75s ease;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1007;
}

.main-content .motw .banner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  text-align: center;
  transition: opacity 0.35s ease;
  opacity: 0;
  z-index: 1008;
}

.main-content .motw .banner .overlay .txt {
  position: relative;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  transition: opacity 0.15s ease;
  opacity: inherit;
  z-index: 1009;
  text-shadow: 1px 1px 2px #222;
  padding: 0;
  margin: 5px;
}

.main-content .motw .banner .overlay .subtxt {
  margin-top: 5px;
  padding: 2px 15px 2px 15px;
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 12px;
  transition: opacity 0.5s ease;
  opacity: inherit;
  z-index: 1009;
  text-shadow: 1px 1px 2px #222;
  background-color: rgba(0, 0, 0, 0.65);
}

.main-content .motw .banner .overlay .subtxt:hover {
  background-color: #527DA8;
}

.main-content .motw .banner .overlay .s1 {
  transition-delay: 0.1s;
}

.main-content .motw .banner .overlay .s2 {
  transition-delay: 0.2s;
}

.main-content .motw .banner .overlay .s3 {
  transition-delay: 0.3s;
}

.main-content .content-box {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 125px;
  border: 0px solid #ccc;
  margin: 5px;
  box-shadow: 7px 8px 0px 0px rgba(0, 0, 0, 0.55);
  transition: height 1.5s ease;
  background-color: #e2e2e2;
  z-index: 999;
}

@media screen and (max-width: 600px) {
  .main-content .content-box {
    height: 125px;
    border: none;
  }
}
.main-content .content-box .bg-video-poster {
  position: absolute;
  width: 81px;
  height: 125px;
  overflow: hidden;
  z-index: 999;
  opacity: 0;
  top: 0;
  right: 5%;
  background-size: contain;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  visibility: hidden;
  transition: opacity 1.6s ease;
}

@media screen and (max-width: 600px) {
  .main-content .content-box .bg-video-poster {
    opacity: 1;
    top: 0;
    height: 100%;
  }
}
.main-content .content-box .uBorder {
  position: absolute;
  width: 296px;
  height: 123px;
  top: 0;
  left: 0;
  border: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 0px;
  z-index: 999;
  transition: border 0.85s ease;
}

@media screen and (max-width: 600px) {
  .main-content .content-box .uBorder {
    border: 0px solid #333;
    border-bottom: 0px;
  }
}
.main-content .content-box .lower-bar {
  position: absolute;
  display: block;
  bottom: 10px;
  width: 100%;
  height: 35px;
  line-height: 35px;
  z-index: 1002;
  transition: padding-bottom 0.6s ease;
}

@-moz-document url-prefix() {
  .main-content .content-box .lower-bar {
    bottom: 40px;
  }
}
.main-content .content-box .lower-bar .txt {
  position: relative;
  font-size: 22px;
  color: #444;
  padding-right: 10px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: color 0.35s ease, text-shadow 0.75s ease;
  z-index: 1010;
}

@media screen and (max-width: 600px) {
  .main-content .content-box .lower-bar .txt {
    color: #fff;
    text-shadow: 2px 2px 2px #333;
  }
}
.main-content .content-box .upper-bar {
  position: absolute;
  display: block;
  top: 10px;
  width: 100%;
  height: 35px;
  line-height: 35px;
  z-index: 1001;
  transition: padding-bottom 0.65s ease;
}

.main-content .content-box .upper-bar .txt {
  font-size: 32px;
  color: #444;
  padding-left: 10px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  transition: color 0.45s ease;
}

@media screen and (max-width: 600px) {
  .main-content .content-box .upper-bar .txt {
    color: #fff;
  }
}
.main-content .content-box .since-txt {
  position: absolute;
  font-family: "Courier Prime", monospace;
  top: 5px;
  left: 10px;
  padding: 2px 0px 2px 5px;
  width: 80%;
  font-size: 14px;
  opacity: 0;
  min-height: 0;
  max-height: 0;
  color: #e2e2e2;
  background-color: #444;
  font-weight: none;
  z-index: 1001;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: padding-bottom 0.65s ease, text-shadow 0.75s ease, opacity 0.75s ease, min-height 0.75s ease, max-height 0.75s ease;
}

.main-content .content-box .info-txt {
  position: absolute;
  top: 25px;
  left: 15px;
  font-size: 12px;
  color: #fff;
  font-weight: none;
  letter-spacing: 0.5px;
  line-height: 150%;
  z-index: 1001;
}

.main-content .content-box .bg-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 218px;
  background-size: 100% auto;
  background-position: 0 -25px;
  opacity: 0;
  transition: opacity 0.85s ease;
}

@media screen and (max-width: 600px) {
  .main-content .content-box .bg-photo {
    opacity: 1;
    height: 125px;
  }
}
.main-content .content-box:hover {
  cursor: pointer;
}

.main-content .content-box:hover .lower-bar {
  z-index: 1001;
}

.main-content .content-box:hover .bg-video-poster {
  opacity: 1;
}

.main-content .content-box:hover .uBorder {
  border-bottom: 0px;
}

.main-content .content-box:hover .since-txt {
  opacity: 1;
  min-height: 20px;
  max-height: 60px;
}

.main-content .content-box:hover .bg-gradient {
  opacity: 1;
}

.main-content .content-box:hover .bg-video {
  opacity: 1;
}

.main-content .content-box:hover .bg-video-still {
  opacity: 1;
}

.main-content .content-box:hover .lower-bar .txt {
  color: #fff;
  text-shadow: 2px 2px 2px #333;
}

.main-content .content-box:hover .bg-photo {
  opacity: 1;
}

.main-content .blue {
  transition: box-shadow 0.85s ease, border-color 0.85s ease;
}

@media screen and (max-width: 600px) {
  .main-content .blue {
    box-shadow: 0px 0px 0px 0px #3c5a77;
    border-color: rgba(0, 0, 0, 0);
  }
}
.main-content .blue:hover {
  box-shadow: 0px 0px 0px 0px #3c5a77;
  border-color: rgba(0, 0, 0, 0);
}

.main-content .blue .bg-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1.5s ease;
  background: -moz-linear-gradient(top, rgba(60, 90, 119, 0.26) 0%, rgba(60, 90, 119, 0.8) 81%, rgba(60, 90, 119, 0.8) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(60, 90, 119, 0.26) 0%, rgba(60, 90, 119, 0.8) 81%, rgba(60, 90, 119, 0.8) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(60, 90, 119, 0.26) 0%, rgba(60, 90, 119, 0.8) 81%, rgba(60, 90, 119, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#423c5a77', endColorstr='#a63c5a77',GradientType=0 );
  /* IE6-9 */
}

@media screen and (max-width: 600px) {
  .main-content .blue .bg-gradient {
    opacity: 1;
  }
}
.main-content .blue .bg-video-still {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
  opacity: 0;
  top: 0;
  background-size: 100% auto;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  zoom: 200%;
  transition: opacity 1.55s ease;
}

@media screen and (max-width: 600px) {
  .main-content .blue .bg-video-still {
    opacity: 1;
    top: 0;
    height: 100%;
  }
}
.main-content .red {
  transition: box-shadow 0.65s ease, border-color 0.5s ease, border-bottom 0.25s ease;
}

@media screen and (max-width: 600px) {
  .main-content .red {
    box-shadow: 0px 0px 0px 0px #3c5a77;
    border-color: rgba(0, 0, 0, 0);
  }
}
.main-content .red:hover {
  box-shadow: 0px 0px 0px 0px fireBrick;
  border-color: rgba(0, 0, 0, 0);
}

.main-content .red .bg-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1s ease;
  background: -moz-linear-gradient(top, rgba(178, 34, 34, 0.26) 0%, rgba(178, 34, 34, 0.65) 81%, rgba(178, 34, 34, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(178, 34, 34, 0.26) 0%, rgba(178, 34, 34, 0.65) 81%, rgba(178, 34, 34, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(178, 34, 34, 0.26) 0%, rgba(178, 34, 34, 0.65) 81%, rgba(178, 34, 34, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42b22222', endColorstr='#a6b22222',GradientType=0 );
  /* IE6-9 */
}

@media screen and (max-width: 600px) {
  .main-content .red .bg-gradient {
    opacity: 1;
  }
}
.main-content .red .bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  zoom: 200%;
  transition: opacity 1.05s ease;
}

@media screen and (max-width: 600px) {
  .main-content .red .bg-video {
    opacity: 1;
  }
}
.main-content .red .bg-video-still {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
  opacity: 0;
  top: 0;
  background-size: 100% auto;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  zoom: 200%;
  transition: opacity 1.05s ease;
}

@media screen and (max-width: 600px) {
  .main-content .red .bg-video-still {
    opacity: 1;
    top: 0;
    height: 100%;
  }
}
.main-content .menu {
  position: fixed;
  display: block;
  top: 0px;
  width: 200px;
  height: 100%;
  border-right: 0px solid rgba(0, 0, 0, 0.2);
  padding-top: 50px;
  background-color: #4A4A4A;
  font-family: "Bebas Neue", cursive;
  transition: left 0.35s ease, background-color 0.35s ease, right 0.35s ease;
  z-index: 1000;
}

@media screen and (max-width: 600px) {
  .main-content .menu {
    right: -200px;
    left: none;
    border-left: 1px solid rgba(26, 40, 53, 0.2705882353);
    z-index: 1001;
  }
}
.main-content .menu a {
  cursor: pointer;
}

.main-content .menu .logo {
  width: 168px;
  height: 75px;
  display: block;
  border-right: 0px solid #fff;
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0);
}

.main-content .menu .logo .logo-img {
  width: 168px;
  height: 75px;
  border-right: 0px solid #fff;
  background-image: url("../images/logo.png");
  background-size: auto 75px;
  background-repeat: no-repeat;
}

.main-content .menu .block {
  display: block;
  text-align: center;
  width: 200px;
  height: 25px;
  padding: 4px 0px 4px 0px;
  line-height: 25px;
  opacity: 0.65;
  border-right: 0px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  z-index: 1001;
}

.main-content .menu .block .icon {
  display: inline-block;
  padding-left: 5px;
  width: 15px;
  text-align: center;
  padding-right: 0px;
}

.main-content .menu .block .content {
  display: inline-block;
  padding-left: 0px;
  text-align: center;
  padding-right: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 1;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .main-content .menu .block .content {
    color: #fff;
  }
}
.main-content .menu .block:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0.95;
}

.main-content .menu .social {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 35px;
  width: 100%;
  line-height: 50px;
  vertical-align: middle;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

.main-content .menu .social .fa {
  opacity: 0.65;
  transition: opacity 0.15s ease;
}

.main-content .menu .social .fa:hover {
  opacity: 1;
  cursor: pointer;
}

.main-content .top-bar {
  position: fixed;
  display: block;
  font-family: "Montserrat", condensed;
  height: 50px;
  width: 100%;
  z-index: 1002;
  padding-left: 0px;
  line-height: 50px;
  font-size: 18px;
  letter-spacing: auto;
  text-align: left;
  border-bottom: 0px solid #6F9BC4;
  border-top: 0px solid #6F9BC4;
  background-color: #922e32;
  background-image: url("/img/headlogo.png");
  background-size: auto 50px;
  background-repeat: no-repeat;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .main-content .top-bar {
    color: #fff;
    padding-left: 0px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
}
.main-content .top-bar .underlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #922E32;
  opacity: 0.5;
}

.main-content .top-bar .right-hold {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 200px;
  background-image: url("/img/headlogo-right.png");
  background-size: auto 50px;
  background-repeat: no-repeat;
  background-position: -100px 0;
}

.main-content .top-bar .top-hold {
  position: relative;
  width: 100%;
}

.main-content .top-bar .top-hold .head-img {
  opacity: 1;
  transition: opacity 0.15s ease;
}

.main-content .top-bar .top-hold .head-img:hover {
  opacity: 1;
}

.main-content .top-bar .top-hold .head-txt {
  position: relative;
  display: inline-block;
  line-height: 50px;
  width: 200px;
  text-align: center;
  align: center;
  text-shadow: 1px 1px 2px #922E32;
  font-weight: bold;
  z-index: 1001;
}

.main-content .top-bar .top-hold .head-txt:hover {
  cursor: default;
}

.main-content .top-bar .top-hold .head-txt .bgcolor {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 5px;
}

.main-content .top-bar .top-hold .welcome {
  font-family: "Montserrat", sans-serif;
}

.main-content .top-bar .top-hold .np {
  height: 76px;
  line-height: 76px;
  font-size: 12px;
  padding-left: 25px;
  vertical-align: middle;
}

.main-content .top-bar .top-hold .menu-hold {
  position: absolute;
  right: 25px;
  top: 15px;
  line-height: 50px;
  height: 35px;
  width: 100px;
  text-align: right;
  display: inline-block;
  opacity: 0;
  z-index: 1001;
}

@media screen and (max-width: 600px) {
  .main-content .top-bar .top-hold .menu-hold {
    opacity: 1;
  }
}
.main-content .top-bar .top-hold .menu-hold .menu-btn {
  position: relative;
  display: block;
  line-height: 50px;
  height: 35px;
  z-index: 1001;
}

.main-content .home-base {
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 0 0 25px;
  top: 50px;
  left: 200px;
  z-index: 999;
  vertical-align: top;
}

@media screen and (max-width: 600px) {
  .main-content .home-base {
    left: 0;
    width: 100%;
    padding: 0;
    overflow: clip;
  }
}
.main-content .home-base .content-block-w {
  position: relative;
  display: inline-block;
  width: auto;
  margin: none;
  padding: none;
  height: auto;
  vertical-align: top;
}

@media screen and (max-width: 600px) {
  .main-content .home-base .content-block-w {
    width: 100%;
  }
}
.main-content .home-base .content-block-w a {
  text-decoration: underline;
  color: #f2f2f2;
}

.main-content .home-base .content-block-w a:hover {
  color: #fff;
  cursor: pointer;
}

.main-content .home-base .content-block-w a:visited {
  color: inherit;
}

.main-content .home-base .content-block-w .label {
  display: inline-block;
  width: auto;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 4px 2px 4px;
  color: #f2f2f2;
}

.main-content .home-base .content-block-w .black {
  background-color: black;
}

.main-content .home-base .content-block-w .red {
  background-color: fireBrick;
}

.main-content .home-base .content-block-w .title {
  display: inline-block;
  font-size: 32px;
  color: #f2f2f2;
  height: 70px;
  line-height: 70px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .main-content .home-base .content-block-w .title {
    font-size: 26px;
  }
}
.main-content .home-base .content-block-w .text {
  position: relative;
  display: inline-block;
  font-size: 14px;
  width: 400px;
  color: #f4f4f4;
  font-weight: 200;
  margin: 15px;
}

@media screen and (max-width: 600px) {
  .main-content .home-base .content-block-w .text {
    font-size: 12px;
    margin: 5px;
  }
}
.main-content .home-base .content-block-w .info-hold {
  position: relative;
  width: 100%;
  min-height: 100px;
  overflow: visible;
  display: block;
  margin-bottom: 15px;
  vertical-align: middle;
}

.main-content .home-base .content-block-w .info-hold .smallbox {
  position: relative;
  float: left;
  display: inline-block;
  text-align: left;
  width: 133px;
  font-size: 10px;
  margin: 5px 5px 5px 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  color: #1a1a1a;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.85);
  transition: box-shadow 0.15s ease;
  vertical-align: top;
}

@media screen and (max-width: 600px) {
  .main-content .home-base .content-block-w .info-hold .smallbox {
    width: 45vw;
    display: block;
    float: inherit;
    margin: 0;
  }
}
.main-content .home-base .content-block-w .info-hold .smallbox:hover {
  box-shadow: 1px 1px 2px 1px rgba(146, 46, 50, 0.85);
  cursor: default;
}

.main-content .home-base .content-block-w .info-hold .input-hold {
  position: relative;
  display: inline-block;
  float: right;
  width: auto;
}

@media screen and (max-width: 600px) {
  .main-content .home-base .content-block-w .info-hold .input-hold {
    float: inherit;
    display: block;
  }
}
.main-content .home-base .content-block-w .hover-info {
  position: relative;
  width: auto;
  color: #f4f4f4;
}

@media screen and (max-width: 600px) {
  .main-content .home-base .content-block-w .hover-info {
    opacity: 0;
    visibility: collapse;
    overflow: hidden;
    width: 0;
    height: 0;
  }
}
.main-content .home-base .content-block-w .hover-info .info-box {
  position: absolute;
  font-family: "Roboto", sans-serif;
  display: block;
  width: 150px;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.35);
  font-size: 8px;
  line-height: 125%;
  padding: 2px 5px 2px 15px;
  left: 4px;
  top: 0;
  opacity: 0;
  overflow: hidden;
  visibility: collapse;
  transition: opacity 0.15s ease;
  z-index: 1001;
}

@media screen and (max-width: 600px) {
  .main-content .home-base .content-block-w .hover-info .info-box {
    left: 4px;
    width: 125px;
    background-color: #747474;
  }
}
.main-content .home-base .content-block-w .hover-info .info-box:hover, .main-content .home-base .content-block-w .hover-info .info-box :active {
  opacity: 1;
  visibility: visible;
}

.main-content .home-base .content-block-w .hover-info:hover, .main-content .home-base .content-block-w .hover-info :active {
  cursor: help;
}

.main-content .home-base .content-block-w .hover-info:hover .info-box, .main-content .home-base .content-block-w .hover-info :active .info-box {
  opacity: 1;
  visibility: visible;
}

.main-content .home-base .content-block-w .hover-infoAdd {
  position: relative;
  width: auto;
  color: #1a1a1a;
}

.main-content .home-base .content-block-w .hover-infoAdd .info-boxAdd {
  position: absolute;
  font-family: "Roboto", sans-serif;
  display: block;
  width: auto;
  height: 30px;
  text-align: left;
  color: #1a1a1a;
  background-color: #c2c2c2;
  font-size: 8px;
  line-height: 125%;
  padding: 2px 5px 2px 15px;
  left: 40px;
  top: 0;
  opacity: 0;
  overflow: hidden;
  visibility: collapse;
  transition: opacity 0.25s ease;
  z-index: 1002;
}

@media screen and (max-width: 600px) {
  .main-content .home-base .content-block-w .hover-infoAdd .info-boxAdd {
    left: 40px;
    width: auto;
    background-color: #c2c2c2;
  }
}
.main-content .home-base .content-block-w .hover-infoAdd .info-boxAdd:hover, .main-content .home-base .content-block-w .hover-infoAdd .info-boxAdd :active {
  opacity: 1;
  visibility: visible;
}

.main-content .home-base .content-block-w .hover-infoAdd:hover, .main-content .home-base .content-block-w .hover-infoAdd :active {
  cursor: pointer;
}

.main-content .home-base .content-block-w .hover-infoAdd:hover .info-boxAdd, .main-content .home-base .content-block-w .hover-infoAdd :active .info-boxAdd {
  opacity: 1;
  visibility: visible;
}

.main-content .home-base .content-block-w table {
  display: table;
  width: 550px;
}

.main-content .home-base .content-block-w table tr td {
  display: table-cell;
  text-align: left;
  width: 50%;
  padding: 10px;
  vertical-align: top;
}

@media screen and (max-width: 600px) {
  .main-content .home-base .content-block-w table tr td {
    width: auto;
  }
}
.main-content .home-base .content-block-w .thelist {
  position: relative;
  width: 500px;
  min-height: 175px;
  margin: 0px;
  background: rgba(255, 255, 255, 0.15);
  padding: 0px 10 10 10px;
}

@media screen and (max-width: 600px) {
  .main-content .home-base .content-block-w .thelist {
    width: 85%;
  }
}
.main-content .home-base .content-block-w .thelist .subtitle {
  display: inline-block;
  color: #e2e2e2;
  font-size: 12px;
  padding: 0px 0px 0px 5px;
  height: 35px;
  line-height: 35px;
}

.main-content .home-base .content-block-w .thelist .subtle {
  background-color: inherit;
  color: inherit;
  border: none;
  text-align: center;
}

.main-content .home-base .content-block-w .thelist .entry {
  position: relative;
  display: block;
  text-align: left;
  height: 35px;
  line-height: 35px;
  padding: 0px 10px 0px 10px;
  margin: 5px;
  opacity: 0.85;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  transition: box-shadow 0.25s ease, opacity 0.25s ease;
}

.main-content .home-base .content-block-w .thelist .entry .name {
  display: inline-block;
  font-size: 10px;
  min-width: 100px;
  max-width: 200px;
  padding-right: 5px;
  text-align: left;
  border-right: 1px solid #1a1a1a;
  float: left;
  overflow: hidden;
}

.main-content .home-base .content-block-w .thelist .entry .position {
  display: inline-block;
  font-size: 10px;
  width: 75px;
  text-align: right;
  float: right;
}

.main-content .home-base .content-block-w .thelist .entry .addto {
  position: relative;
  display: inline-block;
  padding: 0px 5px 0px 15px;
  z-index: 1001;
  line-height: 35px;
  float: right;
  text-align: right;
  transition: color 0.15s ease;
}

.main-content .home-base .content-block-w .thelist .entry .addto:hover {
  color: green;
}

.main-content .home-base .content-block-w .thelist .entry .remove {
  position: relative;
  display: inline-block;
  padding: 0px 5px 0px 15px;
  z-index: 1001;
  line-height: 35px;
  float: right;
  text-align: right;
  transition: color 0.15s ease;
}

.main-content .home-base .content-block-w .thelist .entry .remove:hover {
  color: firebrick;
}

.main-content .home-base .content-block-w .thelist .entry .email {
  position: relative;
  display: inline-block;
  padding: 0px 5px 0px 5px;
  z-index: 1001;
}

.main-content .home-base .content-block-w .thelist .entry .phone {
  position: relative;
  display: inline-block;
  padding: 0px 5px 0px 5px;
  z-index: 999;
}

.main-content .home-base .content-block-w .thelist .entry .hover-info-list {
  color: #1a1a1a;
  position: relative;
  display: inline-block;
  line-height: 35px;
  height: 35px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  width: auto;
}

@media screen and (max-width: 600px) {
  .main-content .home-base .content-block-w .thelist .entry .hover-info-list {
    padding-left: 5px;
  }
}
.main-content .home-base .content-block-w .thelist .entry .hover-info-list:hover, .main-content .home-base .content-block-w .thelist .entry .hover-info-list :active {
  cursor: pointer;
}

.main-content .home-base .content-block-w .thelist .entry .hover-info-list:hover .info-box-list, .main-content .home-base .content-block-w .thelist .entry .hover-info-list :active .info-box-list {
  width: 125px;
  padding-left: 5px;
}

.main-content .home-base .content-block-w .thelist .entry .hover-info-list .info-box-list {
  position: relative;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  z-index: 1001;
  width: 0;
  left: 5px;
  top: 5px;
  text-align: left;
  padding-left: 0px;
  overflow: hidden;
  line-height: 25px;
  font-size: 8px;
  height: 25px;
  transition: width 0.25s ease, padding-left 0.25s ease;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .main-content .home-base .content-block-w .thelist .entry .hover-info-list .info-box-list {
    position: absolute;
  }
}
.main-content .home-base .content-block-w .thelist .entry:hover {
  box-shadow: 0px 0px 0px rgba(146, 46, 50, 0.75);
  opacity: 1;
  cursor: pointer;
}

.main-content .home-base .content-block-w .thelist .loadmore-hold {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
}

.main-content .home-base .content-block-w .thelist .loadmore-hold .loadmoretxt {
  position: relative;
  display: block;
  border: none;
  height: 35px;
  width: 85px;
  padding: 0px 10px 0px 10px;
  text-align: center;
  float: right;
}

.main-content .home-base .content-block-w .thelist .odd {
  background-color: rgba(255, 255, 255, 0.75);
}

.main-content .home-base .content-block-w .thelist .even {
  background-color: rgba(255, 255, 255, 0.5);
}

.main-content .home-base .content-block-t {
  position: relative;
  display: inline-block;
  width: 200px;
  height: auto;
  margin-left: 25px;
  vertical-align: bottom;
}

.main-content .home-base .content-block-t .main-piece {
  position: relative;
  display: block;
  width: 200px;
  height: 325px;
  border: 1px solid #1a1a1a;
  border-color: #1a1a1a;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 2px 2.5px 0px 0px rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.5s ease, background-color 0.5s ease, border-color 2.5s ease;
  cursor: pointer;
}

.main-content .home-base .content-block-t .main-piece .main-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 115%;
  background-position: center;
}

.main-content .home-base .content-block-t .main-piece .main-img .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 2;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+0,000000+100&0.18+0,0.8+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e000000', endColorstr='#cc000000',GradientType=0 );
  /* IE6-9 */
}

.main-content .home-base .input {
  border: none;
  font-size: 14px;
  width: 200px;
  padding: 5px;
  border-bottom: 2px solid #e2e2e2;
  background-color: rgba(255, 255, 255, 0.55);
  transition: border-bottom 0.15s ease, width 0.25s ease, padding 0.25s ease;
  margin: 5px 0px 5px 0px;
}

@media screen and (max-width: 600px) {
  .main-content .home-base .input {
    display: block;
    width: 75vw;
    padding: 10px;
    margin: 0px;
  }
}
.main-content .home-base .input:hover {
  border-bottom: 2px solid #922E32;
}

.main-content .home-base .input:active {
  border-bottom: 2px solid #922E32;
}

.main-content .home-base .submit {
  border: none;
  font-size: 14px;
  width: 200px;
  padding: 5px;
  border-bottom: 2px solid #2A2A2A;
  background-color: rgba(255, 255, 255, 0.55);
  transition: border-bottom 0.15s ease;
  margin: 5px 0px 5px 0px;
}

@media screen and (max-width: 600px) {
  .main-content .home-base .submit {
    display: block;
    width: 75vw;
    padding: 10px;
  }
}
.main-content .home-base .submit:hover {
  border-bottom: 2px solid #922E32;
  cursor: pointer;
}

.main-content .home-base .submit:active {
  border-bottom: 2px solid #922E32;
}

.main-content .home-base .input-2 {
  display: block;
  border: none;
  font-size: 14px;
  width: 200px;
  padding: 5px;
  border-bottom: 2px solid #e2e2e2;
  background-color: rgba(255, 255, 255, 0.55);
  transition: border-bottom 0.15s ease, width 0.25s ease, padding 0.25s ease;
  margin: 5px 0px 5px 0px;
}

@media screen and (max-width: 600px) {
  .main-content .home-base .input-2 {
    display: block;
    width: 75vw;
    padding: 10px;
    margin-top: 5px;
  }
}
.main-content .home-base .input-2:hover {
  border-bottom: 2px solid #922E32;
}

.main-content .home-base .input-2:active {
  border-bottom: 2px solid #922E32;
}

.main-content .home-base .adminPanel {
  color: #fff;
  text-align: right;
}

.main-content .home-base .adminPanel input {
  width: 150px;
  height: 30px;
}

.main-content .home-base .adminPanel select {
  width: 150px;
  height: 30px;
}

.main-content .home-base .adminPanel button {
  width: 150px;
  height: 30px;
}

.main-content .home-base .adminPanel textarea {
  width: 225px;
  height: 75px;
}

.main-content .video-container {
  position: relative;
  display: block;
  width: 1034px;
  height: auto;
  padding: 15px;
}

@media screen and (max-width: 600px) {
  .main-content .video-container {
    width: 100%;
    padding: 0;
  }
}
.main-content .video-container .video-hold {
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .main-content .video-container .video-hold {
    height: 216px;
    width: 100%;
  }
}
.main-content .video-container .video-hold video {
  position: inherit;
  display: inherit;
}

.main-content .video-container .video-info {
  position: relative;
  display: inline-block;
  width: 384;
  min-height: 360;
  vertical-align: top;
  border: 0px solid #ccc;
  background-color: rgba(255, 255, 255, 0.75);
  transition: box-shadow 0.25s ease;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .main-content .video-container .video-info {
    width: 100%;
  }
}
.main-content .video-container .video-info .topbar {
  position: relative;
  display: block;
  width: 100%;
  min-height: 64px;
  max-height: 100px;
  background-color: #444;
  color: #fff;
  overflow: hidden;
}

.main-content .video-container .video-info .topbar a {
  color: inherit;
}

.main-content .video-container .video-info .topbar a:visisted {
  color: inherit;
}

.main-content .video-container .video-info .topbar a:hover {
  color: inherit;
}

.main-content .video-container .video-info .topbar .title {
  position: relative;
  float: left;
  display: inline-block;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  width: 100%;
  line-height: 35px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.25);
  text-align: left;
}

.main-content .video-container .video-info .topbar .bottombar {
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}

.main-content .video-container .video-info .topbar .bottombar .directed {
  position: relative;
  float: left;
  display: inline-block;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #f4f4f4;
  text-align: left;
}

.main-content .video-container .video-info .topbar .bottombar .dur {
  position: relative;
  float: right;
  display: inline-block;
  font-weight: bold;
  padding: 5px 25px 5px 5px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  color: #f4f4f4;
}

.main-content .video-container .video-info .info-txt {
  position: relative;
  display: inline-block;
  width: 80%;
  height: auto;
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1px;
  line-height: 115%;
  color: #000;
  opacity: 0.85;
  padding: 10px 20px 10px 20px;
  margin: 10px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.85);
  transition: background-color 0.25s ease;
}

.main-content .video-container .video-info .info-txt a {
  color: firebrick;
  text-decoration: underline;
}

.main-content .video-container .video-info .info-txt a:hover {
  color: #b66666;
}

.main-content .video-container .video-info .info-txt:hover {
  opacity: 1;
}

.main-content .video-container .video-info .info-txt .showtimes {
  position: relative;
  display: block;
  width: auto;
  height: auto;
  padding: 5px 0px 5px 10px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  vertical-align: bottom;
}

.main-content .video-container .video-info .info-txt .showtimes .block {
  display: inline-block;
  padding: 5px;
  font-family: inherit;
}

.main-content .video-container .video-info .info-txt .showtimes .block .showtime {
  font-family: inherit;
  font-weight: bold;
  /*text-decoration: underline;
  text-decoration-color: firebrick;
  text-decoration-style: dashed;*/
}

.main-content .video-container .video-info .info-txt .showtimes .block .title {
  text-transform: uppercase;
  font-weight: bold;
}

.main-content .video-container .video-info .info-txt .showtimes .today {
  display: inline-block;
}

.main-content .video-container .video-info .botbar {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  min-height: 25px;
  overflow: hidden;
  text-align: right;
}

.main-content .video-container .video-info .botbar .hold {
  position: relative;
  display: inline-block;
  padding: 5px 10px 5px 5px;
  font-size: 18px;
}

.input-u {
  border: none;
  font-size: 14px;
  width: 190px;
  padding: 5px;
  border-bottom: 2px solid #e2e2e2;
  background-color: rgba(255, 255, 255, 0.55);
  transition: border-bottom 0.15s ease, width 0.25s ease, padding 0.25s ease;
  margin: 5px 5px 5px 5px;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 600px) {
  .input-u {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0px;
  }
}
.input-u:hover {
  border-bottom: 2px solid #922E32;
}

.input-u:active {
  border-bottom: 2px solid #922E32;
}

.submit-u {
  border: none;
  font-size: 14px;
  width: 190px;
  padding: 5px;
  border-bottom: 2px solid #2A2A2A;
  background-color: rgba(255, 255, 255, 0.55);
  transition: border-bottom 0.15s ease;
  margin: 5px 5px 5px 5px;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 600px) {
  .submit-u {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0;
  }
}
.submit-u:hover {
  border-bottom: 2px solid #922E32;
  cursor: pointer;
}

.submit-u:active {
  border-bottom: 2px solid #922E32;
}


